form {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 50%;
}

.title-form {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

form div {
  margin-bottom: 1rem;
}

form label {
  display: flex;
  justify-content: space-evenly;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

form input {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

.boton-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}