.cambiar-estado-prestamo-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}